# version: "3.8"
# References: https://www.emqx.io/docs/en/latest/deploy/install-docker.html
services:
  # MQTT listeners
  mqtt-listener-1:
    image: emqx-learning/mqtt-listner:latest
    # logging:
    #   driver: none
    build:
      context: .
      dockerfile: EmqxLearning.MqttListener/Dockerfile
    environment:
      Logging__LogLevel__Default: Warning
      MqttClientOptions__TcpServer: node1.emqx.io
      MqttClientOptions__CleanSession: false
      MqttClientOptions__SessionExpiryInterval: 120
      MqttClientOptions__ReconnectDelaySecs: 3
      MqttClientOptions__Topic: $$share/ahi/projectId/+/devices/+/telemetry
      MqttClientOptions__Qos: 1
      ReceiveDelay: 0
      ProcessingTime: 0
      ConcurrencyLimit: 400
      ProcessingThreads: 20
      BackgroundProcessing: true
      RabbitMqClient__HostName: rabbitmq1
    networks:
      - emqx-bridge
    deploy:
      replicas: 3
      resources:
        limits:
          cpus: "1"
          memory: "250M"
    depends_on:
      emqx1:
        condition: service_healthy
      rabbitmq1:
        condition: service_healthy

  # MQTT publishers
  mqtt-publisher-1:
    image: emqx-learning/mqtt-publisher:latest
    build:
      context: .
      dockerfile: EmqxLearning.MqttPublisher/Dockerfile
    environment:
      - MqttClientOptions__TcpServer=node1.emqx.io
      - MqttClientOptions__TopicFormat=projectId/{0}/devices/{1}/telemetry
    stdin_open: true
    tty: true
    networks:
      - emqx-bridge
    deploy:
      replicas: 3
    depends_on:
      emqx1:
        condition: service_healthy
      rabbitmq1:
        condition: service_healthy

  # RabbitMQ consumers
  rabbitmq-consumer-1:
    image: emqx-learning/rabbitmq-consumer:latest
    # logging:
    #   driver: none
    build:
      context: .
      dockerfile: EmqxLearning.RabbitMqConsumer/Dockerfile
    environment:
      Logging__LogLevel__Default: Warning
      ProcessingTime: 0
      ConsumerCount: 2
      InsertDb: true
      BatchSettings__Enabled: true
      BatchSettings__BatchInterval: 190
      BatchSettings__BatchSize: 200
      BatchSettings__WorkerThreadCount: 5
      ConnectionStrings__DeviceDb: Maximum Pool Size=10;User ID=postgres;Password=zaQ@123456!;Host=timescaledb1;Port=5432;Database=device;Pooling=true;
      RabbitMqClient__HostName: rabbitmq1
      RabbitMqClient__DispatchConsumersAsync: true
      RabbitMqClient__ConsumerDispatchConcurrency: 5
      RabbitMqChannel__PrefetchCount: 2500
    networks:
      - emqx-bridge
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "4"
          memory: "500M"
    depends_on:
      rabbitmq1:
        condition: service_healthy
      timescaledb1:
        condition: service_started

  # rabbitmq-function-1:
  #   image: emqx-learning/rabbitmq-function:latest
  #   build:
  #     context: .
  #     dockerfile: EmqxLearning.RabbitMqFunction/Dockerfile
  #   environment:
  #     AzureWebJobsStorage: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;"
  #     FUNCTIONS_WORKER_RUNTIME: "dotnet"
  #     AzureServiceBus__Host: "rabbitmq1"
  #     AzureServiceBus__KeyName: "admin"
  #     AzureServiceBus__SharedAccessKey: "zaQ@123456!"
  #     RabbitMQ: "amqp://admin:zaQ%40123456!@rabbitmq1:5672"
  #     DataFolder: "/var/device/data"
  #     AzureFunctionsJobHost__logging__LogLevel__Default: "Warning"
  #     ProcessingTime: 50
  #   networks:
  #     - emqx-bridge
  #   deploy:
  #     replicas: 1
  #     resources:
  #       limits:
  #         cpus: "1"
  #         memory: "250M"
  #   depends_on:
  #     rabbitmq1:
  #       condition: service_healthy

  # EMQTT bench mark
  # emqtt-bench:
  #   image: emqx-learning/custom-emqtt-bench:latest
  #   logging:
  #     driver: none
  #   build:
  #     context: .
  #     dockerfile: deployment/emqtt-bench/Dockerfile
  #   networks:
  #     - emqx-bridge
  #   stdin_open: true
  #   tty: true
  #   environment:
  #     - HOST=node1.emqx.io

  # EMQX nodes
  emqx1:
    image: emqx/emqx:5.6.0
    container_name: emqx1
    environment:
      - "EMQX_NODE_NAME=emqx@node1.emqx.io"
      - "EMQX_MQTT__MAX_MQUEUE_LEN=1000000"
      - "EMQX_MQTT__MAX_INFLIGHT=128"
      # - "EMQX_CLUSTER__DISCOVERY_STRATEGY=static"
      # - "EMQX_CLUSTER__STATIC__SEEDS=[emqx@node1.emqx.io,emqx@node2.emqx.io]"
    healthcheck:
      test: ["CMD", "/opt/emqx/bin/emqx", "ctl", "status"]
      interval: 5s
      timeout: 25s
      retries: 5
    networks:
      emqx-bridge:
        aliases:
          - node1.emqx.io
    ports:
      - 1883:1883
      - 8083:8083
      - 8084:8084
      - 8883:8883
      - 18083:18083
    # volumes:
    #   - $PWD/emqx1_data:/opt/emqx/data

  # emqx2:
  #   image: emqx/emqx:5.6.0
  #   container_name: emqx2
  #   environment:
  #     - "EMQX_NODE_NAME=emqx@node2.emqx.io"
  #     - "EMQX_MQTT__MAX_MQUEUE_LEN=1000000"
  #     - "EMQX_MQTT__MAX_INFLIGHT=128"
  #     - "EMQX_CLUSTER__DISCOVERY_STRATEGY=static"
  #     - "EMQX_CLUSTER__STATIC__SEEDS=[emqx@node1.emqx.io,emqx@node2.emqx.io]"
  #   healthcheck:
  #     test: ["CMD", "/opt/emqx/bin/emqx", "ctl", "status"]
  #     interval: 5s
  #     timeout: 25s
  #     retries: 5
  #   networks:
  #     emqx-bridge:
  #       aliases:
  #         - node2.emqx.io
  #   # volumes:
  #   #   - $PWD/emqx2_data:/opt/emqx/data

  # RabbitMQ nodes
  rabbitmq1:
    image: rabbitmq:3.13.1-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./deployment/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
      - ./deployment/rabbitmq/rabbitmq-definitions.json:/etc/rabbitmq/definitions.json
    networks:
      - emqx-bridge
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 30s
      timeout: 30s
      retries: 10
    deploy:
      resources:
        limits:
          cpus: "6"
          memory: "2G"

  # TimescaleDB
  timescaledb1:
    image: "timescale/timescaledb-ha:pg14-arm64"
    ports:
      - "5432:5432"
    command: postgres -c 'config_file=/etc/postgresql/postgresql.conf'
    volumes:
      - ./deployment/timescaledb/scripts:/docker-entrypoint-initdb.d
      - ./deployment/timescaledb/postgresql.conf:/etc/postgresql/postgresql.conf
    environment:
      POSTGRES_PASSWORD: "zaQ@123456!"
      POSTGRES_DB: "device"
    networks:
      - emqx-bridge
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "6"
          memory: "2G"

  # Azure services
  azurite:
    image: "mcr.microsoft.com/azure-storage/azurite"
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    networks:
      - emqx-bridge

networks:
  emqx-bridge:
    driver: bridge
